.logo{
    a{
        font-family: "calistoga", sans-serif;
        font-size: 38px;
        color: #FFF;
        text-decoration: none;
    }
    span{
        color: #fe6a0f;
    }
}
header .container{
    display: flex;
    align-items: center;
    padding: 45px 0;
    gap: 50px;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;

}
header nav ul{
    display: flex;
    flex: 1;
    gap: 30px;
    li a{
        text-decoration: none;
    }
}
header nav li a:hover{
    color: #fe6a0f;
}
header nav button{
    border: 1px solid #fff;
    padding:15px 30px ;
    background-color: transparent;
    border-radius: 5px;
    a{
        text-decoration: none;
    }
    transition: all 0.3s;
}
header nav button:hover{
    background-color: #fe6a0f;
    border-radius: 20px;
    border: none;
    a{
        color: #141414;
    }
}